{% extends layout_template_name %}

{% block styles_head %}
    {{ parent() }}

    <link href="//fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet" type="text/css"/>
    <link href="{{ path_to_this_module }}/library/css/form.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block js_bottom %}
    {{ parent() }}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css" media="all"
          rel="stylesheet" type="text/css"/>

    <!-- the main fileinput plugin file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js"></script>
    <!-- optionally if you need a theme like font awesome theme you can include it as mentioned below -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/themes/explorer/theme.js"></script>

    <script src="{{ path_to_this_module }}/library/js/form.js" type="text/javascript"></script>

{% endblock %}

{% block content %}
    <div id="row-outer-login-form" class="row-outer">
        <div class="row-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-6 col-10">
                    <section class="widget widget-file-upload animated fadeInUp justify-content-center">
                        <h3>Thank you!</h3><br>
                        <p>Your assays have been submitted for review and publication to the CPTAC Assay Portal.</p>
                        <p>You will receive an email when they are released.</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block written_js_bottom %}
    {{ parent() }}
{% endblock %}