{% extends layout_template_name %}
{% block styles_head %}
	{{ parent() }}

	<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
		<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<div class="row-fluid">
	<table id="browse_table" cellpadding="0" cellspacing="0" border="0" class="table table-striped">
		<thead>
			<tr>
				{% for field in browse_fields %}
			    <th><div class="th_header_text">{{ field.label }}</div>

				</th>
			  	{% endfor %}
			</tr>
		</thead>
	</table>
</div>
{% endblock %}
{% block js_bottom %}
	{{ parent() }}
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="https://cdn.datatables.net/rowgroup/1.1.1/js/dataTables.rowGroup.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>

  <script src="https://cdn.datatables.net/plug-ins/1.10.20/api/fnFilterClear.js"></script>
	<script type="text/javascript">
	    $(document).ready(function() {
	    	var sortable_fields = new Array();
	    	sortable_fields = JSON.parse('{{ browse_fields|json_encode|raw }}');
	    	var total_columns = new Array();

	      	$.each(sortable_fields, function(index, field_data){
	        	total_columns.push( {"mDataProp":index} );
	      	});

	  		$('.filter_value, .filter_image').bind('click', function(event){
		  		event.stopPropagation();
	  		});

	      	$('#browse_table th input.filter_value').bind('keyup', function(event){
	    		page_datatable.fnDraw();
	  	  	});


	  		var details_page = "{{ path_to_this_module }}/manage/";

				var post_data = {};
				var table = $('#browse_table').DataTable( {
				dom: "<'row'><<'span4'l><'span4'i><'span4 row_search'f>><<'span3 datatables_bulk_actions'><'span3'r><'span5 pull-right'p>>t<'row'<'span6 pull-right'p>>",


					ajax:{

				url: '{{ path_to_this_module }}/datatables_browse_user_accounts',
				type: 'POST',
				"data": function ( d ) {
							var post_data = {};

							return $.extend( {}, d, post_data);

				},
				dataSrc: function ( json ) {
					console.log(Object.values(json));
					console.log(json);
					return Object.values(json);
				},




				},


				"columns": [


										{ "data": "manage",
											"visible": true},
										{ "data": "name",
											"visible": true},
										{ "data": "groups",
												"visible": true},


								],

				"displayLength": 25,
				"drawCallback": function ( settings ) {
				var api = this.api();

				var rows = api.rows( {page:'current'} ).nodes();
				console.log(rows);
				var last=null;


				}

				,"fnRowCallback":function(nRow, aData, iDisplayIndex){
					//create checkboxes
					$(nRow).find('td:eq(2)').css({'white-space':'normal'});
          $(nRow).find('td:eq(2)').css({'width':'50%'});
					$(nRow).find('td:eq(0)').html(
						"<input type='checkbox' name='manage_checkbox' value='" + aData['manage'] + "' />"
					)
					.addClass("manage_column");
				}



					 } );

			$("#browse_table").css({"width":"100%"});





		    //send to details page when clicked
		    $('#browse_table tbody').on('click','td',function(event){
		    	if(!$(this).hasClass("manage_column")){
			    	var project_id = $(this).closest("tr").attr('id');
			    	window.location.href = details_page + project_id;
		    	}
		    });

		    var delete_button = $("<div></div>")
		    	.addClass("delete")
		    	.on("click",function(){
		    		var delete_ids = new Array;
		    		$('#browse_table [name="manage_checkbox"]:checked').each(function(){
		    			delete_ids.push($(this).val());
		    		});
		    		if(delete_ids.length > 0){
		    			var delete_confirm = confirm("Are you sure you want to delete the selected item(s)?");
		    			if(delete_confirm){
			    			$.ajax({
							    type:"POST"
							    ,dateType:"json"
							    ,url: "{{ path_to_this_module }}/delete"
							    ,data: ({id: JSON.stringify(delete_ids)})
							    ,success: function(ajax_return){
							    	//page_datatable.fnDraw();
										 $('#browse_table').DataTable().ajax.reload();
							    }
							});
		    			}
		    		}

		    		//page_datatable.fnDeleteRow(0);
		    	});
		    $(".datatables_bulk_actions").append(delete_button);

		});
	</script>
{% endblock %}
